/*共同部分*/
body{
	overflow-y:hidden;
}
.common_wrap{
	position: absolute;
	height:0;
	width:100%;
	bottom:0;
	border-radius:40px 40px 0 0;
	background-color: #fff;
	z-index: 999;
	
}
.common_title{
	height:94px;
	text-align: center;
	line-height: 100px;
	border-bottom:1px solid #E5E5E5;
	font-size: 36px;
}
.common_close{
	display: inline-block;
	position: absolute;
	top:32px;
	right:60px;
	width:36px;
	height:36px;
	background-image: url('../img/close2x.png');
} 
.common_mask ,.land_content li dl dt {
	position: absolute;	
	top:0;
	bottom:0;
	right:0;
	left:0;
	margin:auto;
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,.3) ;
}
.ccsl{
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}
button{
	font-size:38px;
}
/*土地*/
.color_g{
	color: #999999;
}
.color_b{
	color:#2696F6;
}
.land_content{
	display: flex;
	justify-content: space-between;
	flex-flow: wrap;
	padding:60px 60px 20px;
}
.land_content li {
	box-sizing: border-box;
	width: 170px;
	padding-bottom: 40px;
	text-align: center;
	font-size: 25px;
	
}
.land_content li dl{
	position: relative;
	width:170px;
	height:170px;
	border-radius: 30px;
	background: url('../img/land2.png') no-repeat center center ; 
	color:#FFFFFF;
	vertical-align: middle;
}
.land_content li .active{
	border:8px solid #2696f6;
}
.land_content li dl dt {
	border-radius: 30px;
}
.land_content li dl dd{
	position: relative;
	top:50%;
	transform: translateY(-50%);
}
.land_content li dl dd p:first-child{
	font-size: 28px;
	margin-bottom:18px ;
}
.land_content li dl dd p:last-child{
	font-size: 20px;
}
.land_content li > p{
	margin-top: 20px;
	font-size: 24px;
}

/*仓库*/
.storehouse .menu , .show{
	display:flex;
}
.storehouse .menu{
	margin:40px 140px;
	justify-content:space-between;
	font-size: 28px;
	color: #999999;
}
.storehouse .menu li{
	position: relative;
	height:50px;
}
.storehouse .menu .active:after{
	content: "";
	position: absolute;
	left:0;
	bottom:0;
	width:52px;
	height:6px;
	background-color: #2696F6;
	border-radius:3px;
}
.storehouse .menu .active{
	color:#2696F6;
}
.storehouse .wrap{
	overflow : scroll;
	height:500px;
}
.storehouse .show{ 
	display: none; 
	margin:0 60px 60px;
	}
.storehouse .add{display: flex; justify-content: space-between;}
.storehouse .show dl {
	width:240px;
	height:326px;
	margin-right:30px;
	padding: 40px 0 30px;
	box-sizing: border-box;
	border-radius: 10px;
	text-align: center;
	background-color: #ebeefa;
}
.storehouse .show dl dt{
	font-size: 28px;
	color:#333333
}
.storehouse .show  dl .num{
	font-size: 20px;
	margin:16px 0 24px;
	color:#2696f6 ;
}
.storehouse .show dl dd img{
	width:92px;
	height:100px;
}
.storehouse .show  dl .button{
	display: inline-block;
	width:120px;
	height: 44px;
	margin-top:10px;
	border-radius: 22px;
	background-color: #2696f6;
	line-height: 44px;
	font-size: 22px;
	color:#FFFFFF;
}
/*日志*/
.trends_wrap{
	overflow-y: scroll;
	height:654px;
	padding-top: 60px;
}
.trends_content{
	font-size: 24px;
}
.trends_content li {
	padding:20px 40px 20px 96px;
	background-position:40px  center;
	background-repeat: no-repeat;
	background-image:url('../img/5.png');
}
.trends_content li p:first-child{
	margin-bottom: 16px;
	color:#999999;
	font-size: 20px;
}
.trends_content li p:last-child{
	line-height: 36px;
}
.trends_content li:first-child{
	background-image:url('../img/6.png');  
}
.trends_content li:last-child{
	background-image:url('../img/7.png'); 
}
.load_more{
	font-size:24px;
	text-align: center;
	background-color: #E5E5E5;
}
/*弹窗*/
.frame{
	position: absolute;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
	width:400px;
	padding:60px 0;
	background-color:#fff ;
	border-radius:20px;
	line-height: 45px;
	font-size: 28px;
	text-align: center;
	color: #333333;
	z-index: 999;
}
.frame .icon{
	margin-bottom: 60px;
}
.close{
	display: inline-block;
	position: absolute;
	top:20px;
	right:20px;
	width:48px;
	height:48px;
	background: url('../img/close2x.png') no-repeat center center;
	
}